.Character-info{
   /* border: .2rem solid gray; */
   padding: 5rem;
   width: 30%;
   margin: 1rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
   
}

.title{
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: rgba(241, 210, 86, 0.899);
}

.render-names{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;

}

.character-image{
  width: 10rem;
  height: 10rem;
}

.home-all{
  display: flex;
  justify-content: space-around;
}

.haha{
 background-color: black; 
 width: 100%;
}

