.Character-info{
   /* border: .2rem solid gray; */
   padding: 1rem;
   width: 30%;
   margin: 1rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
   
}

.title{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.render-names{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.Image{
  width: 10rem;
  height: 10rem;
}