.planet-title{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.planet-card{
  display: flex;
  justify-content: space-around;
  border: .1rem solid gray;
  height: 4rem;
  margin: 2rem;
  padding: 1rem;
}

.planet-view-title{
  display: flex;
  justify-content:center;
}

.info-planet{
  display: flex;
  justify-content: space-evenly;
}